* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: nunito sans;
    background-color: #f2eddc;
    color: #4B3621;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #c8a88c;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #654321;
}

/* -----------------BARRA NAV FIJA----------- 
.cabeza {
    position: sticky;
    top: 0;
}

/* -----------------BARRA NAV FIJA----------- */


header {
    width: 100%;
    height: 160px;
    background-color: #654321;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; 
}

.selected-language {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  #current-flag {
    width: 20px;
    height: 14px;
    margin-right: 8px;
  }
  
  #language-selector {
    border: none;
    background: transparent;
    appearance: none;
    font-size: 16px;
    cursor: pointer;
  }


.foto1 {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block;
}

.header_texto {
    position: absolute; 
    color: #4B3621; 
    font-family: 'Arial Rounded MT', Arial, Bold;
    font-size: 35px;
    z-index: 2; 
    margin: 0;
}

nav {
    background-color: #d9bba0;
    padding: 15px;
    border-top: 0.8px#654321 solid;
    border-bottom: 0.8px #654321 solid;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
}

nav ul li {
    padding: 0px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 25px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #f4f4f4;
    background-color: #59302c;
    border-radius: 10px;
    padding: 10px 25px;
    transition: 0.4s;
}

img {
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto; 
    
}

.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10% 0% 10%;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.caja1, .caja4 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #59302c;
    width: calc(30% - 10px);
    height: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto2 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja2, .caja3 {
    margin-top: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #a6775b;
    width: calc(70% - 10px);
    height: 2%;
    border-radius: 15px;
    font-size: 24px;
    max-height: 700px;
}

.home1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    font-size: 20px;
    margin: 40px 30px 20px 0px;
}

/* ----------------PORTFOLIO------------ */
.proyectos {
    margin-top: 20px;
    padding: 20px;
}

.proyectos h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.proyectos_contenedor {
    padding: 20px;
}

.proyectos_contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img_proyecto {
    background-color: #eaeaea;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.proyecto {
    width: calc(33.333% - 30px);
    margin-bottom: 20px;
    
}

/* Contenedor del carrusel */
.prueba {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Contenedor deslizante */
.carrusel-slider {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;  /* Ocultar scrollbar en Firefox */
    -ms-overflow-style: none;  /* Ocultar scrollbar en IE y Edge */
}

.carrusel-slider::-webkit-scrollbar {
    display: none;  /* Ocultar scrollbar en Chrome, Safari y Opera */
}

/* Cada slide */
.slide {
    flex: 0 0 100%;  /* Cada imagen ocupa el 100% del ancho */
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 100%;
    height: auto;
}

.flechas_carrusel {
    position: absolute;
    top: 50%; /* Centramos las flechas verticalmente */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* Coloca las flechas en los extremos */
    align-items: center; /* Asegura que las flechas estén centradas dentro de los círculos */
    width: 100%;
    transform: translateY(-50%); /* Centrado perfecto */
    pointer-events: none; /* Aseguramos que no bloqueemos la interactividad */
    padding: 0 15px; /* Añadimos un poco de espacio a los lados */
}

.flechas_carrusel a {
    pointer-events: all; /* Habilitamos la interacción con los enlaces */
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 40px; /* El tamaño del círculo */
    height: 40px; /* El tamaño del círculo */
    display: flex;
    align-items: center; /* Centra la flecha dentro del círculo */
    justify-content: right; /* Centra la flecha dentro del círculo */
    border-radius: 50%; /* Hacemos el círculo */
    text-decoration: none;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 0; /* Eliminamos el margen extra */
}

.flechas_carrusel a:hover {
    background: rgba(0, 0, 0, 0.8);
}

.flechas_carrusel i {
    font-size: 20px; /* Ajustamos el tamaño de la flecha */
    line-height: 1;
}


.def_preyecto {
    background-color: #f4f4f4;
    text-align: center;
    padding: 13px 0;
    border: 1px solid #ccc;
}

/* Estilo de la sección del videojuego */
.videojuego_seccion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado de todo el contenido */
    padding: 40px 10%; /* Espaciado con margen lateral */
    background-color: #f4f4f4; /* Fondo suave para resaltar la sección */
    margin-top: 40px;
    border-radius: 15px;
}

#videojuegos {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.descripcion_videojuego {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
    max-width: 700px; /* Limita el ancho del texto */
}

.media_videojuego {
    width: 80%; /* El video ocupará el 80% del ancho */
    margin-bottom: 20px;
}

.capturas_screenshot {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.captura img {
    width: 45%; /* Las imágenes de las capturas ocuparán un 45% cada una */
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.captura img:hover {
    transform: scale(1.05); /* Efecto de ampliación cuando se pasa el mouse */
}

.videojuego .capturas_screenshot {
    display: grid;
    gap: 20px; /* Espacio entre las imágenes */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
    justify-items: center; /* Centra las imágenes */
    margin-top: 20px;
}

.download_button {
    display: inline-block;
    background-color: #8a643e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.download_button:hover {
    background-color: #6a4d32; /* Cambio de color al pasar el ratón */
}

.credits {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #666;
}



/* TABLETS */
@media (max-width: 1024px) {
    header {
        height: 140px; 
    }

    .contenedor1 {
        padding: 8% 8%; 
        
    }

    .caja1, .caja4 {
        width: 48%; 
    }

    .caja2, .caja3 {
        width: 48%;
    }

    .header_texto {
        font-size: 30px;
    }

    .proyecto {
        width: calc(50% - 20px); /* 2 columnas en tablets */
    }

    .videojuego .capturas_screenshot {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }

    /* La tercera imagen ocupa el ancho completo de las dos columnas */
    .videojuego .capturas_screenshot img:nth-child(3) {
        grid-column: span 2; /* La tercera imagen ocupa todo el ancho */
    }
}

/* MOVILES */
@media (max-width: 768px) {
    .proyecto {
        width: 100%;  /* 1 columna en móviles */
    }

    header {
        height: 120px;
    }

    .contenedor1 {
        padding: 5% 5%; 
    }

    .caja1, .caja4, .caja2, .caja3 {
        width: 100%; 
        margin-bottom: 20px; 
        font-size: medium;
    }

    .foto1 {
        width: 100%; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul li {
        padding: 10px 0; 
    }

    .header_texto {
        font-size: 22px; 
    }

    body {
        font-size: 14px;
    }

    .videojuego .capturas_screenshot {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}


/*
.proyecto {
    width: calc(33.333% - 30px); 
    margin-bottom: 20px;
}*/


.home {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    font-size: large;
}

.fa-solid {
    color: #8a643e;
}

.fa-solid:hover {
    color: #4B3621;
}

/* ---------------HABILIDADES----------- */
.seccion_texto {
    margin-top: 20px;
    padding: 20px;
}

.contenedor_texto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caja_texto {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #e9d5c1;
    padding: 20px;
}

.caja_texto h3 {
    margin-bottom: 10px;
    
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.caja_texto p {
    margin-top: 10px;
}

.caja_img {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.caja_imagen {
    background-color: #654321;
    width: 24%;
    height: 90%;
    display: block;
}

/* ---------------CONTACTO-------------- */
.contacto {
    margin-top: 20px;
    padding: 20px;
    margin: 25px;
}

.contacto_contenedor {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contacto_txt{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #e9d5c1;
}

.contacto_detalles {
    width: 100%; 
    border: 1px solid #8a643e;
    padding: 20px;
    margin-top: 20px;
}

.fa-solid, .fa-brands{
margin-right: 15px;
}

.contacto_detalles h2 {
    margin-bottom: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.contacto_detalles p {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.contacto_mapa {
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    
}

iframe {
    width: 100%;
    height: 300px;
    
}

/* -----------------FOOTER------------- */
.final {
    background-color: #b68a70;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    position: relative;
    margin-top: auto;
}

.final p{
    font-size: 14px;
}